/*
* App
*/
.app {
  display: flex;
  width: 100vw;
  height: 100vh;
}

/*
* Search Bar
*/
.searchBar {
  max-width: 100%;
  display: flex;
  z-index: 1;
  margin-left: 60px;
  margin-top: 10px;
  margin-right: 20px;
}
.searchInput {
  border-radius: 3px 0px 0px 3px!important;
}
.searchButton {
  border-radius: 0px 3px 3px 0px!important;
}

/*
* Map
*/
.mapContainer {
  width: calc(100% - 400px);
  height: 100%;
  padding: 10px;
  position: relative;
}
.map {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
/*
* Side bar
*/
.sidebar {
  margin: 5px;
  padding: 20px;
  width: 390px;
  height: calc(100vh - 10px);
  margin-left: 0;
}
