/*
* App
*/
.app {
  display: flex;
  width: 100vw;
  height: 100vh;
}

/*
* Search Bar
*/
.searchBar {
  max-width: 100%;
  display: flex;
  z-index: 1;
  margin-top: 10px;
}
.searchInput {
  border-radius: 3px 0px 0px 3px!important;
}
.searchButton {
  border-radius: 0px 3px 3px 0px!important;
}

/*
* Map
*/
.mapContainer {
  width: calc(100% - 400px);
  height: 100%;
  padding: 10px;
  position: relative;
}
.map {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
/*
* Side bar
*/
.sidebar {
  margin: 5px;
  padding: 20px;
  width: 100%;
  height: calc(100vh - 10px);
  margin-left: 0;
}

/*
* Logo
*/
.logo {
  position: relative;
  width: 100%;
  text-align: center;
}
.logoMain {
  display: flex;
  color: #337ab7;
  font-size: 30pt;
  font-weight: bold;
  line-height: 1;
  font-family: monospace;
  justify-content: center;
  width: 100%;
}
.logoIcon {
  margin-right: 5px;
}
.logoBaseline {
  font-size: 10pt;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
}

/*
* Modal
*/
.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -100;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.showModal {
  z-index: 100;
  opacity: 1;
}
.modalContainer .background {
  height: 100vh;
  width: 100vw;
  background: rgba(0,0,0,0.4);
}

.modalWigot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background: #FAFAFA;
  padding: 20px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.modalCloseButton {
  position: absolute;
  top: 20px;
  right: 20px;
}

/*
* Leaflet mod
*/
.leaflet-top {
  top: auto!important;
  left: auto!important;
  bottom: 70px;
  right: 20px;
}


/*
* Create Wigot
*/
.createWigot {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  max-width: 300px;
}
.createWigotButton {
  margin: 20px auto;
  display: block;
  color: white;
  padding: 10px 15px;
  border-radius: 3px;
  background: #337ab7;
  border: none;
}