<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wigot</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!-- LEAFLETJS -- MAP -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA==" crossorigin=""></script>

    <script src='https://api.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.css' rel='stylesheet' />
  </head>

  <body>
    <div id='container'>
      <div ref="modal" class="modalContainer" id="modal">
        <div class="background"></div>
        <div class="modalWigot">
          <h2>Welcome on Wigot!</h2>
          <h4>Create an event to begin:</h4>
          <h5 class="modalTitle">Name your event:</h5>
          <input class="searchInput form-control" type="text">
          <h5 class="guestList">Invite your friends/family members:</h5>
          <input class="searchInput form-control" type="text">
          <button class="btn btn-primary" @click="createEvent()">Create event</button>
          <button class="btn btn-primary" @click="toggleModal()">Close modal</button>
        </div>
      </div>
        <div class="col-md-9">
            <!--La carte est ici</h4-->
            <div class="searchBar">
                <input type="text" class="searchInput form-control" v-model="inputPin" ref="modif" placeholder="Entre un Pin">
                <button type="button" class="searchButton btn btn-primary" @click="add()">Ajouter</button>
            </div>
            <i class='icon-spinner icon-spin icon-large'></i>
            <div ref="map" id='map' class="map" style="height: 800px;" @click="ajouterPin()"></div>  
        </div>
        <div class="col-md-3">
            <aside class="sidebar">
                <div>
                    <div class="card">
                        <h3 class="card-header">Meilleur Pin</h3>
                    <div class="card-body">
                        <p>Le pin #1 est...</p>
                    </div>
                    </div>
                </div>
                <div>
                    <div class="card">
                    <div class="card-header">
                        <h4>Pins ajoutés :</h4>
                    </div>
                    <div class="card-body">
                        <table>
                            <tbody>
                                <tr v-for="(pin, index) in pins">
                                    <td>{{ pin.nom }}</td>
                                    <td>{{ pin.score }}</td>
                                    <td><button type="button">Like</button>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    </div>
                </div>
            </aside>
        </div>
    </div>
      
    <script src="https://unpkg.com/vue@2.0.3/dist/vue.js"></script>
 
    <script>

      /*
        VUEJS
      */
      var app = new window.Vue({
        el: '#container',
        data: {
          eventTitle: '',
          pins: [
            { nom: "Le Mazet", score: 0 }
          ],
          map: null,
          tileLayer: null,
          inputPin: '',
          localisation: '',
          // We'll use this variable to display a discreet modal inviting
          // the user to try and give his location again
          isMissingLocation: false
        },
        mounted() {
          this.getLocation();
          this.toggleModal(true);
        },
        methods: {
          /*
            Get current position - called by body.onload
          */
          getLocation() {
            var self = this;
            if ('geolocation' in navigator) {
              navigator.geolocation.getCurrentPosition(
                // success callback: the user has accepted to give his location
                function (position) {
                  console.log('SUCCESS in getLocation(): position ===', position);
                  self.initMap({ lat: position.coords.latitude, long: position.coords.longitude });
                },
                // error callback: the user refused to give his location
                function () {
                  self.initMap();
                  self.isMissingLocation = true;
                },
              );
            } else {
              console.log('ERROR in initApp(): geolocation is not available on this browser.');
            }
          },
          initMap(coords) {
            // If we have been able to get the coordinates of the user 
            // we center the map on his location
            if (coords) {
              this.map = L.map('map').setView([coords.lat, coords.long], 15);
            } else {
              this.map = L.map('map').setView([48.53, 2.14], 15);
            }
            
            this.tileLayer = L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}',
            {
            maxZoom: 19,
            id: 'mapbox.streets',
            accessToken: 'pk.eyJ1IjoiYmpsYWEiLCJhIjoiY2pubzRmYm1iMGI5czNycTFsYTJpZng5biJ9.hbgbuJ24OKVcx4xELavpoQ',
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>'
            }).addTo(this.map);

            // Add the mouse click event listener
            // Need to pass this inside a function === SCOPE ISSUE
            // use the trick below: store this in a variable (usually "self")
            var self = this;
            var w = window;
            this.map.on('click', function(e) {
              // Get the coordinates from Leaflet
              var latlng = self.map.mouseEventToLatLng(e.originalEvent);
              console.log(latlng.lat + ', ' + latlng.lng);

              self.addPin(latlng.lat, latlng.lng)
            });
          },
          // Handles creating the event
          createEvent() {
            console.log('Create the event!');
            this.toggleModal();
          },

          add: function () {
            this.pins.push({ nom: this.inputPin, score: 0 });
            this.inputPin = '';
          },

          addPin: function (lat, long) {
            var newMarker = new L.marker([lat, long]).addTo(this.map);
          },

          toggleModal() {
            this.$refs.modal.classList.toggle('showModal');
          }
        }
      });
    </script> 
  </body>
</html>