/*
* General classes
*/
.disabled {
  pointer-events: none;
  opacity: 1!important;
}

img,
svg {
  max-width: 100%;
}

/*
  Classes à réutiliser sur les boutons pour pas répéter trop de code
*/
.buttonPrimary {
  color: white;
  padding: 10px 15px;
  border-radius: 50px;
  background: #4A89F3;
  border: none;
}

.buttonSecondary {
  color: white;
  padding: 10px 15px;
  border-radius: 50px;
  background: #4A89F3;
  border: none;
}

/*
* App
*/
.app {
  display: flex;
  width: 100vw;
  height: 100vh;
}

/*
* Search Bar
*/
.searchBar {
  width: calc(75% - 40px);
  display: flex;
  z-index: 1;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 5px;
  overflow: hidden;
  margin-top: 20px;
  margin-left: 20px;
  height: 40px;
}
.searchBarResultsOpen {
  border-radius: 5px 0px 0px 5px;
}
.searchBarForm {
  width: 100%;
  display: flex;
  height: 100%;
}
.searchInput {
  border-radius: 5px 0px 0px 5px!important;
  height: 100%;
  font-size: 12pt;
}
.searchButton {
  border-radius: 0px 5px 5px 0px!important;
  position: relative;
  height: 40px;
  min-width: 100px;
  font-size: 12pt;
}
.searchList {
  padding-left: 0;

  border-radius: 3px;
  overflow: hidden;
  max-width: calc(75% - 142px);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin-left: 22px;
  margin-top: 5px;
  border: solid 1px lightgrey;
}
.searchListItem {
  cursor: pointer;
  height: 45px;
  padding-left: 10px;
  font-size: 10pt;
  display: flex;
  align-items: center;
  transition: background 0.2s ease-in-out;
}
.searchListItem:first-child {
  border-top: none;
}
.searchListItem:hover {
  background: #F2F2F2;
}
.searchListItemIcon {
  margin-right: 10px;
  width: 30px;
  text-align: center;
}
.searchListItemIcon img {
  width: 15px;
}
.searchListItemTextName {
  font-weight: bold;
  margin-
}
.searchListItem li {
  transition: background 0.2s ease-in-out;
  border-radius: none;
}
.searchListItem li:hover {
  background: #CACACA;
}
.list-group-item:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;

}
/*
* List
*/
ul {
  list-style-type: none;
  background-color: #FFFFFF;
}
li {
    border-top: 1px solid #ddd;
    padding: 5px;
  }

/*
* Map
*/
.mapContainer {
  width: calc(100% - 400px);
  height: 100%;
  padding: 10px;
  position: relative;
}
.map {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
/*
* Side bar
*/
.wigotTitle {
    text-align: center;
}
.bestLoc {
    text-align: center;
    font-weight: bold;
}
.sidebar {
  position: fixed;
  top: 20px;
  right: 20px;
  width: calc(25% - 20px);
  padding: 15px 10px;
  height: calc(100vh - 40px);
}
.card {
  /*
    Material design box-shadow (card 2): https://codepen.io/sdthornton/pen/wBZdXq
    c'est les normes design de google reconnues et utilisées 
    >> un peu moins marquée que celle que tu avais utilisée avant
  */
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  /*box-shadow: 0rem .5rem 1rem rgba(0,0,0,.3);*/
  background-color: #fff;
  border-radius: 0.8rem;
  padding: 2px 16px 2px 16px;
}
.btn-circle {
  width: 30px;
  height: 30px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.pinName {
    font-style: italic;
}
.markerIcon {
    max-width: 40%;
    max-height: 40%;
}
.likeButton {
    border-radius: 10px;
    border: 2px solid LightGrey;
}
.deleteButton {
    border-radius: 10px;
}
.like {
    padding: 2px;
}
.delete {
    padding: 2px;
}

/*
* Logo
*/
.logo {
  position: relative;
  width: 100%;
  text-align: center;
}
.logoMain {
  display: flex;
  color: #337ab7;
  font-size: 30pt;
  font-weight: bold;
  line-height: 1;
  font-family: monospace;
  justify-content: center;
  width: 100%;
}
.logoIcon {
  margin-right: 5px;
  max-width: 200px;
}
.LogoPic {
    width: 100%;
    height: 100%;
}
.logoBaseline {
  font-size: 10pt;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
}

/*
* Modal
*/
.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -100;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.showModal {
  z-index: 100;
  opacity: 1;
}
.modalContainer .background {
  height: 100vh;
  width: 100vw;
  background: rgba(0,0,0,0.6);
}

.modalWigot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background: #FAFAFA;
  padding: 20px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.modalCloseButton {
  position: absolute;
  top: 20px;
  right: 20px;
}

/*
* Leaflet mod
*/
.leaflet-top {
  top: auto!important;
  left: auto!important;
  bottom: 30px;
  right: 380px;

}
.leaflet-control-zoom {
  border-radius: 5px!important;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)!important;
  overflow: hidden;
  border: solid 1px lightgrey!important;
}

/*
* Create Wigot
*/

.createWigotButton {
  margin: 20px auto;
  display: block;
  color: white;
  padding: 10px 15px;
  border-radius: 50px;
  background: #4A89F3;
  border: none;
}

/*
* PinCreationInfoBox
*/
.pinCreationInfoBox {

}
.pinCreationInfoBoxTitle {
  margin-bottom: 20px;
  font-size: 12pt;
}

.pinCreationInfoBox label {
  width: 100%;
}
.pinCreationInfoBox input {
  width: 100%;
}
.addressInput {
  margin-bottom: 20px;
}

/*
* Pin popup
*/
.pinPopup .name {
  margin-bottom: 5px;
  font-size: 12pt;
  color: #4A89F3;
}

.pinPopup .address {
  margin-bottom: 20px;
}

.pinPopup button {
  display: block!important;
  margin-left: auto!important;
}


/*
* Pin Added
*/
.pinAdded {
  font-size: 20pt;
  padding: 40px;
  color: #4A89F3;
}