/*
* General classes
*/
.disabled {
  pointer-events: none;
  opacity: 1!important;
}

/*
* App
*/
.app {
  display: flex;
  width: 100vw;
  height: 100vh;
}

/*
* Search Bar
*/
.searchBar {
  max-width: 75%;
  display: flex;
  z-index: 1;
  margin-top: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.searchBarForm {
  width: 100%;
  display: flex;
}
.searchInput {
  border-radius: 3px 0px 0px 3px!important;
}
.searchButton {
  border-radius: 0px 3px 3px 0px!important;
  position: relative;
  height: 34px;
  min-width: 100px;
}
.searchList {
  padding-left: 0;
  border-radius: 0 0 3px 3px;
  max-width: calc(75% - 100px);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.searchListItem {
  cursor: pointer;
}
.searchListItem li {
  transition: background 0.2s ease-in-out;
  border-radius: none;
}
.searchListItem li:hover {
  background: #CACACA;
}
.list-group-item:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
/*
* List
*/
ul {
  list-style-type: none;
  background-color: #FFFFFF;
}
li {
    border-top: 1px solid #ddd;
    padding: 5px;
  }

/*
* Map
*/
.mapContainer {
  width: calc(100% - 400px);
  height: 100%;
  padding: 10px;
  position: relative;
}
.map {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
/*
* Side bar
*/
.wigotTitle {
    text-align: center;
}
.bestLoc {
    text-align: center;
    font-weight: bold;
}
.sidebar {
  position: fixed;
  top: 0.5px;
  right: 0.5px;
  width: 25%;
  padding: 15px 10px;
    
}
.card {
  box-shadow: 0rem .5rem 1rem rgba(0,0,0,.3);
  background-color: #fff;
  border-radius: 0.8rem;
  padding: 2px 16px 2px 16px;
}
.btn-circle {
  width: 30px;
  height: 30px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.pinName {
    font-style: italic;
}
.markerIcon {
    max-width: 40%;
    max-height: 40%;
}
.likeButton {
    border-radius: 10px;
    border: 2px solid LightGrey;
}
.deleteButton {
    border-radius: 10px;
}
.like {
    padding: 2px;
}
.delete {
    padding: 2px;
}

/*
* Logo
*/
.logo {
  position: relative;
  width: 100%;
  text-align: center;
}
.logoMain {
  display: flex;
  color: #337ab7;
  font-size: 30pt;
  font-weight: bold;
  line-height: 1;
  font-family: monospace;
  justify-content: center;
  width: 100%;
}
.logoIcon {
  margin-right: 5px;
}
.LogoPic {
    width: 100%;
    height: 100%;
}
.logoBaseline {
  font-size: 10pt;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
}

/*
* Modal
*/
.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -100;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.showModal {
  z-index: 100;
  opacity: 1;
}
.modalContainer .background {
  height: 100vh;
  width: 100vw;
  background: rgba(0,0,0,0.4);
}

.modalWigot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background: #FAFAFA;
  padding: 20px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.modalCloseButton {
  position: absolute;
  top: 20px;
  right: 20px;
}

/*
* Leaflet mod
*/
.leaflet-top {
  top: auto!important;
  left: auto!important;
  bottom: 70px;
  right: 20px;
}


/*
* Create Wigot
*/

.createWigotButton {
  margin: 20px auto;
  display: block;
  color: white;
  padding: 10px 15px;
  border-radius: 50px;
  background: #4A89F3;
  border: none;
}

/*
* PinCreationInfoBox
*/
.pinCreationInfoBox {

}
.pinCreationInfoBoxTitle {
  margin-bottom: 20px;
  font-size: 12pt;
}

.pinCreationInfoBox label {
  width: 100%;
}
.pinCreationInfoBox input {
  width: 100%;
}
.addressInput {
  margin-bottom: 20px;
}

